@import "null-style.scss";

//Змінні
$fw-4: 400;
$fs__19: 19px;
$fs__16: 16px;
$fs__14: 14px;
$fs__titel: 22px;
$font-fam: 'Inter', sans-serif;
$font-f: 'Readex Pro', sans-serif;
$bg_col: #DCE5E2;

//---Header---//
.header{
    width: 100%;
    height: 80px;
    margin-bottom: 28px;
}
.header_2{
    display: none;
}
.container{
    max-width: 1440px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
}
.logo{
    margin: 0;
}
.logo_img{
    height: 21px;
    img{
        height: 21px;
    }
}
.menu__list{
    max-width: 1014px; 
    height: 80px;
    font-weight: $fw-4;
    font-size: $fs__14;
    font-family: $font-fam;
    gap: 33px;
}
.im{
    img{
        margin-right: 30px;
    }
}
.menu__link{
    gap: 5px;
}
.header__icons{
    gap: 24px;
}
// ---------//
.sale-block{
    margin-top: 60px;
    margin-bottom: 63px;
    gap: 23px;
}
.image{
    width: 577px;
    height: 327px;
}
.info{
    width: 696px;
    height: 443px;
}
.info__titel{
    font-size: 36px;
    font-weight: $fw-4;
    font-family: $font-f;
    margin-bottom: 20px;
}
.info__price{
    font-size: 24px;
    font-weight: $fw-4;
    font-family: $font-fam;
    margin-bottom: 20px;
}
.info__img{
    width: 165px;
    height: 25px;
    gap: 10px;
    margin-bottom: 40px;
}
.star__img{
    width: 25px;
    height: 25px;
    background-image: url(/sale_block_img/star__img.svg);
    opacity: 1;
}
.star__img:hover{
    opacity: 0.6;
}
.info__text{
    width: 680px;
    height: 186px;
    font-size: 18px;
    font-weight: $fw-4;
    font-family: $font-fam;
    margin-bottom: 40px;
}
.info__button{
    margin-bottom: 30px;
    button{
        width: 220px;
        height: 50px;
        background-color: #ffff;
        border: 1px solid #000000;
        border-radius: 200px;
        .but__text{
            width: 103px;
            height: 22px;
            font-size: 18px;
            font-weight: $fw-4;
            font-family: $font-fam;
        }
    }
    button:hover{
        background-color: 
        #f3f4f4;
    }
}
hr{
    border: 1px solid #DCE5E2;
}
//---Fopter---//
.footer{
    background-color: #F8F9FA;
    width: 100%;
    height: 378px;
}
.footer__top{
    padding-top: 55px;
}
.footer__coll{
    gap: 20px;
    width: 394px;
}
.footer__text{
    width: 304px;
    height: 39px;
    font-size: $fs__16;
    font-family: $font-fam;
}
.footer__col{
    width: 197px;
    height: 191px;
    ul{
        li{
            margin-bottom: 14px;
        }
    }
}
.col__titel{
    font-family: $font-f;
    font-size: $fs__titel;
    font-weight: 400;
}
.col__li{
    font-size: $fs__16;
    font-family: $font-fam;
}
.footer__line{
    margin-left: 45px;
    margin-right: 45px;
    hr{
        color: #c7cbca;
        height: 2px;
    }
}
.footer__bottom{
    margin-top: 52px;
    margin-right: 70px;
    img{
        width: 21px;
        height: 18px;
    }

}
.footer__bottom_{
    img{
        margin-left: 5px;
    }
}
.bottom__titel{
    font-family: $font-f;
    font-weight: 400;
    font-style: $fs__19;
}
.bottom__text{
    font-family: $font-fam;
    font-weight: 400;
    font-style: $fs__19;
    padding-left: 3px;
}





@media (max-width:375px) {
    .wid_375{
        width: 375px;
    }
    .wid_335{
        width: 335px;
    }
    .con{
        padding: 0 20px;
        text-align: center;
    }
    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    //---Header---//
    .header{
        display: none;
    }
    .header_2{
        display: flex;
        width: 375px;
        height: 48px;
    }
    .container{
        max-width: 375px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 10px;
        margin-right: 10px;
        margin: 0 auto;
        .cr{
            margin-top: 50px;
            margin-left: 20px;
            .cr__titel{
                width: 70%;
                font-size: 33px;
                font-weight: $fw-4;
                font-family: $font-f;
                margin-bottom: 19px;
            }
            .cr__text{
                font-weight: $fw-4;
                font-family: $font-fam;
                font-size: $fs__16;
                margin-bottom: 30px;
            }
        }
        
        .cr__img{
            display: none;
        }
        
    }
    .heared__bottom{
        width: 100vh;
    }
    .menu{
        width: 100%;
        ul{
            width: 100%;
        }
    }
    .menu{
        display: none;
    }
    .header__icons:active .menu{
        display: flex;
    }
    .logo_img{
        margin-left: 20px;
        width: 88px;
        height: 15px;
    }
    .logo{
        margin: 0;
    }
    .logo_img{
        height: 15px;
        img{
            height: 15px;
        }
    }
    .menu__list{
        max-width: 375px; 
        height: 170px;
        font-weight: $fw-4;
        font-size: $fs__14;
        font-family: $font-fam;
        gap: 10px;
        background-color: #ffff;
        z-index: 1;
        li{
            text-align: end;
            margin-right: 30px;
        }
    }
    .menu__link{
        gap: 2px;
    }
    // ---------//
    .sale-block{
        margin-top: 0px;
        margin-bottom: 40px;
        gap: 23px;
    }
    .image{
        display: flex;
        justify-content: center;
        height: 100%;
        margin-top: 20px;
        img{
            width: 100%;
            height: 100%;
        }
    }
        
    .info__text{
       font-size: 16px;
    }
    .info__button{
        display: flex;
        justify-content: center;
    }
    // footer
    .footer__col{
        display: none;
    }
    .footer{
        height: 150px;
    }
    .footer__bottom{
        margin-top: 12px;
        margin-right: 0px;
    }
    .footer__top{
        padding-top: 20px;
    }
}


