@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background-color: rgb(32, 33, 36);
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-size: inherit;
  font-weight: 400;
}

p,
small,
strong,
a {
  color: white;
}

.header {
  width: 100%;
  height: 80px;
  margin-bottom: 28px;
}

.header_2 {
  display: none;
}

.container {
  max-width: 1440px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.logo {
  margin: 0;
}

.logo_img {
  height: 21px;
}
.logo_img img {
  height: 21px;
}

.menu__list {
  max-width: 1014px;
  height: 80px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  gap: 33px;
}

.im img {
  margin-right: 30px;
}

.menu__link {
  gap: 5px;
}

.header__icons {
  gap: 24px;
}

.section-container {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-container h2 {
  margin-right: 35px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: white;
}

.container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-block p {
  padding: 15px;
  width: 935px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.img-wrapper {
  position: absolute;
  left: 1570px;
  top: 200px;
}

.footer {
  background-color: rgb(32, 33, 36);
  width: 100%;
  height: 378px;
}

.footer__top {
  padding-top: 55px;
}

.footer__coll {
  gap: 20px;
  width: 394px;
}

.footer__text {
  width: 304px;
  height: 39px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.footer__col {
  width: 197px;
  height: 191px;
}
.footer__col ul li {
  margin-bottom: 14px;
}

.col__titel {
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.col__li {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.footer__line {
  margin-left: 45px;
  margin-right: 45px;
}
.footer__line hr {
  color: #c7cbca;
  height: 2px;
}

.footer__bottom {
  margin-top: 52px;
  margin-right: 70px;
}
.footer__bottom img {
  width: 21px;
  height: 18px;
}

.footer__bottom_ img {
  margin-left: 5px;
}

.bottom__titel {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-style: 19px;
}

.bottom__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: 19px;
  padding-left: 3px;
}

.img-wrapper2 {
  display: none;
}

@media (max-width: 375px) {
  .header {
    display: none;
  }
  .header_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 375px;
    height: 48px;
  }
  .container {
    max-width: 375px;
    padding-left: 0px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .heared__bottom {
    width: 100vh;
  }
  .menu {
    width: 100%;
  }
  .menu ul {
    background-color: rgb(32, 33, 36);
    width: 100%;
  }
  .menu {
    display: none;
  }
  .header__icons:active .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo_img {
    margin-left: 20px;
    width: 88px;
    height: 15px;
  }
  .logo {
    margin: 0;
  }
  .logo_img {
    height: 15px;
  }
  .logo_img img {
    height: 15px;
  }
  .menu__list {
    max-width: 375px;
    height: 170px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    gap: 10px;
    background-color: white;
    z-index: 1;
  }
  .menu__list li {
    text-align: end;
    margin-right: 30px;
  }
  .menu__link {
    gap: 2px;
  }
  .container-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-container h2 {
    margin-left: 35px;
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
  }
  .text-block p {
    width: 335px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: white;
  }
  .img-wrapper {
    display: none;
  }
  .img-wrapper2 {
    display: block;
  }
  .footer__col {
    display: none;
  }
  .footer {
    margin-top: 20px;
    height: 150px;
  }
  .footer__bottom {
    margin-top: 12px;
    margin-right: 0px;
  }
  .footer__top {
    padding-top: 20px;
  }
  .wid_375 {
    width: 375px;
  }
  .wid_335 {
    width: 335px;
  }
  .con {
    padding: 0 20px;
    text-align: center;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pg {
    padding-right: 0;
  }
}